<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.good.example.sdk.bypassunlock</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.good.example.sdk.bypassunlock.sc2</string>
				<string>com.good.example.sdk.bypassunlock.sc2.1.0.0.0</string>
				<string>com.good.example.sdk.bypassunlock.sc3</string>
				<string>com.good.gd.discovery</string>
				<string>com.good.example.sdk.bypassunlock.service</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GDApplicationID</key>
	<string>com.good.example.sdk.bypassunlock</string>
	<key>GDApplicationVersion</key>
	<string>1.0.0.0</string>
	<key>GDBypassUnlockPolicySetting</key>
	<string>GD_SDK_Security_AllowBypassUnlock</string>
	<key>GDBypassUnlockViewControllers</key>
	<array>
		<string>BPIncallViewController</string>
	</array>
	<key>GDConsoleLogger</key>
	<string>GDFilterNone</string>
	<key>GDFetchResources</key>
	<true/>
	<key>GDLibraryMode</key>
	<string>GDEnterprise</string>
	<key>GDPermissions</key>
	<array>
		<dict>
			<key>Permission</key>
			<dict>
				<key>BypassUnlockPermission</key>
				<string>1</string>
				<key>GDApplicationId</key>
				<string>com.good.example.sdk.bypassunlock</string>
				<key>nativeApplicationId</key>
				<string>com.good.example.sdk.bypassunlock</string>
			</dict>
			<key>Signature</key>
			<string>6a4b3f5542219cfda54115344bf6e3d68fcebb68d4182d20e66bdb19520fd9b0f68be2b9a05cd3ef72f059d5cb9421326c40160b1a06dfb8f45ee64accc82be2be733cb599b687d6b67beba1db5c346a8dcc51583d401a46c97bd837ed7ebbefe3f66b49b7b8cbaff2ead8a09c3a82c426df517839cb446f3808322296b4abeb</string>
			<key>SignatureScheme</key>
			<string>RSAv1</string>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera usage to scan a QR code</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enables authentication without a password.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
